[Unit]
Description=DCNet BBA tap daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/sbin/ethtap -i 172.20.1.0 -d /usr/local/etc/dcnet/dnsmasq-ethtap.conf
StandardOutput=append:/var/log/dcnet/ethtap.log

[Install]
WantedBy=multi-user.target
