[Unit]
Description=DCNet BBA tap daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=TAP_START_ADDR=172.20.1.0
EnvironmentFile=-/etc/default/dcnet-ap
ExecStart=/usr/local/sbin/ethtap -i ${TAP_START_ADDR} -d /usr/local/etc/dcnet/dnsmasq-ethtap.conf
StandardOutput=append:/var/log/dcnet/ethtap.log

[Install]
WantedBy=multi-user.target
