[Unit]
Description=DCNet iptables rules
After=network.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/iptables-dcnet start
ExecReload=/usr/local/sbin/iptables-dcnet restart
ExecStop=/usr/local/sbin/iptables-dcnet stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target