[Unit]
Description=DCNet pppd server

[Service]
Environment=AP_DCNET_ADDR=172.20.0.1
Environment=PPP_START_ADDR=172.20.0.10
EnvironmentFile=-/etc/default/dcnet-ap
ExecStart=-/usr/sbin/pppd file /etc/ppp/options.dcnet ${AP_DCNET_ADDR}: startip ${PPP_START_ADDR}
StandardInput=socket
