Source: dcnet-ap
Section: misc
Priority: optional
Maintainer: Flyinghead <flyinghead.github@gmail.com>
Build-Depends: debhelper-compat (= 13), ppp-dev (>= 2.5.2)
Standards-Version: 4.4.1

Package: dcnet-ap
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ppp (>= 2.5.2), iptables (>= 1.8.2), dnsmasq (>= 2.85)
Description: Daemons for DCNet access points
 Daemons for ppp and tap remote access.
